.header {
    background-color: white;
    display: flex;
    border-bottom: 4px solid;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgb(223, 94, 94), lightgreen);
    box-shadow: 2px 2px 4px rgb(31, 30, 30);
}

.logo-self-link {
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 5%;
    height: 5%;
}

.user-credentials {
    display: flex;
    font-size: 20px;
    padding-right: 5%;
}

.login-link {
    padding: 10%;
}

.register {
    padding: 10%;
}

.logout {
    padding: 10%;
}

.search-job-quick {
    padding-right: 40%;
}

.input-text-quick {
    width: 200%;
    padding: 12px 10px;
    border-radius: 4px;
}