<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta name="description" content="job search engine">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <title>
        Job Overflow
    </title>


</head>

<body>

    <header class="top-side-header">
        <%-  include ("../fragments/header") %>
    </header>


    <main class="main-content" id="main-content">

        <h1 class="main-page-title">Welcome to Job Overflow
        </h1>
        <section class="user-guide">
            Here you will find your desired jobs from across trusted and hand-picked web-sites that will help you pursuit your dream career! Just head over to the search bar and search for your desired job. If you wish to gain more control over your search scroll
            down to find additional search criteria.Enjoy!
        </section>

    </main>


</body>

</html>