<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta name="description" content="job search engine">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/upload_cv.css" />
    <title>
        Job Overflow
    </title>

</head>

<body>

    <header class="top-side-header">
        <%-  include ("../fragments/header") %>
    </header>

    <div class="upload-form">

        <form action="fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="filetoupload"><br>
            <input type="submit">

        </form>

    </div>


</body>

</html>