<head>

    <link type="text/css" rel="stylesheet" href="../css/header.css" />
    <script src="../js_scripts/searching_job.js"></script>

</head>
<div class="header">
    <div class="logo-self-link-click">
        <div class="logo">
            <a href="/">
                <img src="../images/JO_logo.png" alt="Job Overflow" title="Job Overflow" class="logo-self-link">
            </a>
        </div>
    </div>


    <div class="search-job-quick" id="search-job-quick">
        <label>
             <input type="text" id="txt-input" class="input-text-quick" name="searching" placeholder=" Search Job"  value="">
            </label>
    </div>



    <div class="user-credentials">

        <div class="logout">
            <% if(locals.user){ %>
                <a href="/logout" id="login">Logout</a>
                <% } %>
        </div>
        <div class="login-link">
            <a href="/login" id="login">Login </a>
        </div>

        <div class="register">
            <a href="/register" id="login">Register</a>
            </a>
        </div>

    </div>


</div>